@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@500;600;700&display=swap");
@font-face {
  font-family: "Adobe Garamond Pro";
  src: url("../fonts/AGaramondPro-Regular.eot");
  src: url("../fonts/AGaramondPro-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AGaramondPro-Regular.woff2") format("woff2"), url("../fonts/AGaramondPro-Regular.woff") format("woff"),
    url("../fonts/AGaramondPro-Regular.ttf") format("truetype"),
    url("../fonts/AGaramondPro-Regular.svg#AGaramondPro-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Garamond Pro";
  src: url("../fonts/AGaramondPro-Italic.eot");
  src: url("../fonts/AGaramondPro-Italic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AGaramondPro-Italic.woff2") format("woff2"), url("../fonts/AGaramondPro-Italic.woff") format("woff"),
    url("../fonts/AGaramondPro-Italic.ttf") format("truetype"),
    url("../fonts/AGaramondPro-Italic.svg#AGaramondPro-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Garamond Pro";
  src: url("../fonts/AGaramondPro-Bold.eot");
  src: url("../fonts/AGaramondPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AGaramondPro-Bold.woff2") format("woff2"), url("../fonts/AGaramondPro-Bold.woff") format("woff"),
    url("../fonts/AGaramondPro-Bold.ttf") format("truetype"),
    url("../fonts/AGaramondPro-Bold.svg#AGaramondPro-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adobe Garamond Pro";
  src: url("../fonts/AGaramondPro-Semibold.eot");
  src: url("../fonts/AGaramondPro-Semibold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/AGaramondPro-Semibold.woff2") format("woff2"),
    url("../fonts/AGaramondPro-Semibold.woff") format("woff"),
    url("../fonts/AGaramondPro-Semibold.ttf") format("truetype"),
    url("../fonts/AGaramondPro-Semibold.svg#AGaramondPro-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Adobe Garamond Pro";
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:hover,
a,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}

.full-height {
  position: relative;
  width: 100%;
  height: 100%;
}

button:focus {
  outline: -webkit-focus-ring-color auto 0px;
}
.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.mainbannertextarea {
  width: 100%;
  height: auto;
  text-align: center;
  margin: 65px auto 0;
}

.mainbannertextarea p {
  width: 100%;
  height: auto;
  text-align: center;
  color: #2d2d2d;
  font-size: 16px;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}
.akshay_tritiya_banner {
  height: calc(100% - 66px);
}
.akshay_tritiya_banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.tritiya_banner_heading {
  position: absolute;
  left: 120px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 414px;
}
/* .tritiya_banner_heading .bann_logo{width: 228px;} */
.tritiya_banner_heading p {
  color: #ffffff;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 0;
}
.dekstop_none {
  display: none !important;
}
.dekstop_flex {
  display: none !important;
}
/* celebaration section */

.celebration_text h2 {
  color: #2d2d2d;
  font-size: 30px;
  margin-bottom: 0;
}
.celebration_text p {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 0px;
  color: #2d2d2d;
}

.cate_slider_main .slick-slide img {
  width: 100%;
}
.view_product {
  font-size: 16px !important;
  font-weight: normal;
  padding: 9px 48px;
  border: 1px solid #c49884;
  height: 40px;
  display: inline-flex;
  align-items: end;
  justify-content: center;
  margin-top: 16px;
  transition: 0.3s;
  background: #fff;
  color: #c49884 !important;
  /* text-transform: uppercase;  */
  line-height: normal;
}

.view_product:hover {
  background: #c49884;
  color: #fff !important;
}

.celebration_sec {
  padding: 70px 120px;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.mb-24 {
  margin-bottom: 24px;
}
.mt-24 {
  margin-top: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mt-20 {
  margin-top: 20px;
}
.cele-left {
  padding-left: 75px;
}
.cele-right {
  padding-right: 75px;
}
.heading_phara {
  max-width: 504px;
  margin: auto;
}

/* zoya promise */
.zoya_promise {
  padding: 0px 120px 70px;
}
.mexperience-main {
  padding: 16px;
  text-align: center;
  border: 1px solid rgba(45, 45, 45, 0.4);
  /* border-right: none; */
  min-height: 153px;
  margin: 0px 10px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.mpro_img {
  text-align: center;
  cursor: pointer;
}
.mexperience-main p {
  color: #2d2d2d;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0px;
  line-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.discover_icon {
  opacity: 0;
  transition: opacity 0.3s;
  margin-top: 10px;
  text-align: center;
  color: #c49884;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discover_icon .arrow {
  width: 16px !important;
  margin-left: 5px;
}
.visit_store_sec {
  padding: 70px 0 0px;
  overflow-x: hidden;
}
.gift_cart_link {
  color: #9c4b20 !important;
  margin: auto;
  font-size: 18px;
  display: block;
  text-decoration: underline !important;
  text-decoration-thickness: 1px !important;
  transition: 0.3s;
  /* text-transform: uppercase; */
}
.gift_cart_link:hover {
  color: #9c4b20 !important;
}
.visit_store_box {
  /* bottom: -67px; */
  transform: translateY(-70px);
  box-shadow: 0px 3px 6px #00000029;
  max-width: 1160px;
  margin: auto;
  background-color: #fff;
  text-align: center;
  padding: 25px 115px;
  font-size: 16px;
  color: #2d2d2d;
}
.visit_store_box p {
  max-width: 656px;
  margin: 0 auto 0px;
  color: #2d2d2d;
}
.store_btn_main {
  gap: 25px;
}

.flex-nowrap {
  flex-wrap: nowrap;
}
.gap-18 {
  gap: 18px;
}

.basis-full {
  flex-basis: 100%;
}

.w-\[400px\] {
  width: 70vw;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.h-screen {
  height: 100vh;
}
.cel_selec_text {
  max-width: 504px;
  margin: auto;
}
.card {
  border-radius: 0;
  height: 100%;
  border: 0;
}
.card img {
  height: 100%;
  object-fit: cover;
}
#cate_slider .slide-item {
  padding: 0 16px 0 0;
}

/* promise pop start */
#promisepop .modal-title {
  font-size: 30px;
  text-align: center;
}

#promisepop .modal-header {
  display: block;
  border-bottom: transparent;
  padding-bottom: 0px;
}

#promisepop .modal-header .close {
  padding: 1rem 1rem;
  margin: -4rem 0rem 0rem auto;
}

#promisepop .pop-element {
  display: flex;
  align-items: center;
  border: 0.2px solid rgba(0, 0, 0, 0.4);
  padding: 15px;
  height: 153px;
}

#promisepop .leftp-element {
  width: 25%;
  text-align: center;
}

#promisepop .modal-body {
  padding: 15px 32px;
}

#promisepop .rightp-element {
  font-size: 20px;
  color: #2d2d2d;
  line-height: 30px;
  text-align: left;
  width: 75%;
}

#promisepop .pop-title {
  margin-top: 6px;
  margin-bottom: 0;
  font-size: 16px;
  color: #2d2d2d;
}
.reserve-pop .modal-dialog {
  max-width: 982px;
}
.brn-btnss {
  margin-top: 24px;
}
.discover_icon {
  opacity: 0;
  transition: opacity 0.3s;
  margin-top: 10px;
  text-align: center;
  color: #c49884;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discover_icon .arrow {
  width: 16px !important;
  margin-left: 5px;
}

/* promise pop end */

.footer-drawer-connect {
  margin-bottom: 16px;
}

.footer-drawer-connect-content-wrapper {
  font-size: 16px;
  line-height: 1.4em;
  max-height: 0px;
  overflow: hidden;
  transition: 0.25s ease-in-out;
}

.footer-drawer-connect-title::after {
  border-style: solid;
  border-width: 1.5px 1.5px 0 0;
  content: " ";
  display: inline-block;
  height: 12px;
  left: 2px;
  position: relative;
  right: 20px;
  top: 2px;
  transform: rotate(135deg);
  transition: 0.35s ease-in-out;
  vertical-align: top;
  width: 12px;
  color: white;
}

/* OPTIONAL HOVER STATE */
.footer-drawer-connect-title:hover {
  color: #ffffff;
}

.footer-drawer-connect-trigger:checked + .footer-drawer-connect-title + .footer-drawer-connect-content-wrapper {
  max-height: 350px;
  border-bottom: 0.5px solid rgba(234, 211, 185, 0.3);
}

.footer-drawer-connect-trigger:checked + .footer-drawer-connect-title::after {
  transform: rotate(-45deg);
  transition: 0.25s ease-in-out;
}

@media (min-width: 1050px) and (max-width: 1230px) {
  .shfooter ul.newfootsocial li a {
    padding-right: 11px;
  }
}
@media (min-width: 991px) and (max-width: 1050px) {
  .shfooter ul.newfootsocial li a {
    padding-right: 8px;
  }
}
@media all and (max-width: 991px) {
  .newfootsocial {
    margin: 25px auto 0;
    text-align: center;
  }
  .newfootsocial a {
    padding: 0 15px;
  }
}

/* ==========================New zoya css=============== */
:root {
  --blackColor: #2d2d2d;
  --ctaColor: #c49884;
  --fontColor: #c98979;
}
.split-text {
  & h2 {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 10px;
    color: var(--fontColor);
  }
  & p {
    color: #2d2d2d;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
  }
  & h3 {
    font-size: 26px;
    font-weight: 500;
    color: #000000;
  }
}

.slider-details {
  & h2 {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 10px;
    color: var(--fontColor);
  }
  & p {
    color: #2d2d2d;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    padding: 50px 20%;
  }
}
.signature-section {
  & h2 {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 10px;
    color: var(--fontColor);
  }
  & p {
    color: #2d2d2d;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    padding: 10px 28%;
  }
  & h3 {
    font-size: 26px;
    font-weight: 500;
    color: var(--ctaColor);
  }
}
.products-section {
  & h2 {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 10px;
    color: var(--fontColor);
  }
  & p {
    color: #2d2d2d;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    padding: 10px 25%;
  }
  & h3 {
    font-size: 26px;
    font-weight: 500;
    color: var(--ctaColor);
  }
}
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.split-text {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & .container {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
  }
}

.reveal-section {
  & {
    background-image: url(../images/Zoya\ 2024_Day1\ 099\ 1.png);
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  & .row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 650px;
  }
  & h1 {
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 10px;
    width: 90%;
    color: var(--fontColor);
  }
  & p {
    font-size: 46px;
    font-weight: 400;
  }
  & a {
    font-size: 18px;
    font-weight: 500;
    color: var(--ctaColor);
    border: 2px solid var(--ctaColor);
    border-radius: 0;
  }
}
.text-split-container {
  font-size: 25px;
}
/* .zoya-below-banner-section {
  background-image: url(../images/zoya-below-banner.png);
  width: 100%;
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

} */
/* =============================== */
.px-8 {
  padding: 65px 100px;
}
.zoya-products.videos {
  margin-top: -40%;
}

/* .products-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: #ffffff;
  z-index: 9;
  opacity: 0.8;
} */

/* ================ */
/* .products-overlay-videos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 1;
  z-index: 9;
} */
.desktop-image {
  width: 100%;
  height: 550px;
}
.desktop-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.Alive-section {
  & .alive-content h2 {
    font-size: 60px;
    font-weight: 600;
    font-family: "Adobe Garamond Pro";
  }
  & p {
    font-size: 30px;
    font-weight: 500;
  }
}
/* .signature-image-container {
  width: 100%;
  height: 570px;
} */
.signature-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoya-details-section {
  position: sticky;
  top: 0; /* or any other value */
}

.zoya-details-section {
  position: relative; /* Initial position */
  top: 0;
  width: 100%; /* Start with full width */
}

.zoya-banner {
  height: 100vh; /* Makes sure the banner occupies full viewport height */
}

.zoya-desktop-banner img,
.zoya-mobile-banner img {
  object-fit: cover; /* Ensures the image covers its container */
}

/* ===================== */

.alive-content ul {
  gap: 8px;
}
.alive-content ul li {
  font-size: 60px;
  font-weight: 600;
}

/* ======================== */

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  /* -ms-flex: 0 0 auto; */
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}

.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  transform-origin: right top;
}

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  -ms-perspective: 1200px;
}

.swiper-container-cube,
.swiper-container-flip {
  overflow: visible;
}

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next + .swiper-slide,
.swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
}

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-slide img {
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.15);
  filter: blur(1);
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.swiper-container.one .swiper-slide {
  padding: 0 43px;
}

.slider-section .swiper-container {
  width: 100%;
  padding-bottom: 60px;
}

.slider-section .swiper-slide img {
  display: block;
  margin: auto;
  width: 100%;
}

.swiper-slide {
  width: 390px;
  height: auto;
  padding: 0 15px;
}
.slider-section .two .swiper-slide {
  width: 500px;
}

.swiper-slide .slider-image .preview-icon {
  z-index: -1;
  width: calc(100% - 30px);
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-pagination-bullet {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #9c4b20;
  border-radius: 10px;
  display: inline-block;
  height: 10px;
  opacity: 1;
  width: 26px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.swiper-pagination-bullet-active {
  background: rgba(0, 0, 0, 0) -webkit-linear-gradient(left, #9c4b20 0%, #c49884 100%) repeat scroll 0 0;
  background: rgba(0, 0, 0, 0) linear-gradient(to right, #9c4b20 0%, #f89482 100%) repeat scroll 0 0;
  border: medium none;
  height: 12px;
  opacity: 1;
  width: 12px;
}
.slider-section {
  width: 100%;
  /* height: 100vh; */
}

.slider-section .slider-image {
  width: 100%;
  height: 400px;
}
.slider-section .slider-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-section .swiper-container.two {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.swiper-slide-active {
  transform: scale(1.5);
}

.mb-pb {
  padding: 40px 0;
}

.signature-image-container {
  width: 100%;
  height: 600px;
}

/* .products-box {
  width: 100%;
  height: 500px;
} */
.products-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products-box {
  position: relative;
}
.image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  transform: translateZ(0);
}
.image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: right;
}
.product-image {
  transition: transform 0.5s ease-out;
}
.products-box:hover .product-image {
  transform: scale(1.05);
}
.product-title {
  position: relative;
  display: inline-block;
}
.product-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
}
.products-box:hover .product-title::after {
  transform: scaleX(1);
  transform-origin: left;
}

.signature-image-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  transform: translateZ(0);
}
.signature-image-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: right;
}
.signature-image {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease-out;
}
.signature-product:hover .signature-image {
  transform: scale(1.05);
}
.signature-product-title {
  position: relative;
  display: inline-block;
}
.signature-product-title::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-out;
}
.signature-product:hover .signature-product-title::after {
  transform: scaleX(1);
  transform-origin: left;
}

.cta-box a {
  border: 1px solid var(--ctaColor);
  border-radius: 0;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 500;
  color: var(--ctaColor);
}
.cta-box a:hover {
  border: 1px solid var(--ctaColor);
  color: var(--ctaColor);
}

/* ===============products page css======== */
.main-products-section {
  & h2 {
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 10px;
    color: var(--fontColor);
  }
  & h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--blackColor);
    text-align: center;
  }
  & p {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    color: var(--blackColor);
    padding: 10px 17%;
  }
}
.toggle-btn {
  position: absolute;
  bottom: 25%;
  left: 30%;
}
.toggle-btn img {
  width: 30px;
}

.toggle-btn button {
  border: none;
  background-color: none;
}

.modal-popUp {
  position: absolute;
  bottom: 27%;
  left: 8%;
  background-color: #ffffff;
  z-index: 9;
  max-width: 18%;
  width: 100%;
}
.modal-popUp img {
  width: 100%;
}

.modal-popUp {
  display: none;
}

.modal-popUp.show {
  display: block;
}

.modal-popUp .border-t h3 {
  font-size: 20px;
}
.popUpButton {
  position: absolute;
  bottom: 35%;
  right: 40%;
}
.modal-popUpTwo {
  position: absolute;
  bottom: 35%;
  right: 20%;
  background-color: #ffffff;
  z-index: 9;
  max-width: 18%;
  width: 100%;
}
.modal-popUpTwo img {
  width: 100%;
}
.modal-popUpTwo h3 {
  font-size: 20px;
}
.modal-popUpTwo {
  display: none;
}

.modal-popUpTwo.show {
  display: block;
}
.popUpButton img {
  width: 30px;
}

.cta-box a {
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--ctaColor);
  padding: 10px 60px;
}
.cta-box.book a {
  background-color: var(--ctaColor);
  font-size: 16px;
  font-weight: 500;
  border: 1px solid var(--ctaColor);
  padding: 10px 60px;
}
.zoya-products-container {
  & h4 {
    font-size: 32px;
    font-weight: 500;
    padding: 10px 0;
    color: var(--fontColor);
  }
  & h5 {
    font-size: 16px;
    font-weight: 600;
  }
  & p {
    font-size: 16px;
    font-weight: 500;
    color: var(--blackColor);
    line-height: 24px;
    padding: 10px 0;
  }
}

.explore-products-section {
  & h3 {
    font-size: 20px;
    font-weight: 500;
  }
  & h4 {
    font-size: 30px;
    font-weight: 500;
    color: var(--fontColor);
  }
}
